.monsterList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.85rem;
  justify-content: center;
}

.weaponList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.85rem;
  justify-content: center;
}